html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Start*/
body{
	background-image: url("pattern-background-desktop.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-color:hsl(225, 100%, 94%);
	font-family:'Red Hat Display';
	font-weight:700;
}
.container{
	border-radius: 15px;
	text-align: center;
	background-color: white;
	width:400px;
  margin: 6.75vh auto;
}
.img1{
   width: 400px;
   heigth: 100px;
   	border-radius: 15px 15px 0 0 ;
}
p{
	font-size:18px;
	width: 80%;
	line-height: 1.5;
	margin:2vh auto;
	color: hsl(224, 23%, 55%);
}
h3{
		color: hsl(224, 23%, 55%);
}
h1{
	margin:4vh  0 3vh 0 ;
	color: hsl(223, 47%, 23%);
}
.info{
	display: flex;
	flex-direction:row;
	align-items: center;
	width: 70%;
	border-radius: 15px;
	padding:1.5vh;
	margin: 0 auto;
	margin-bottom:4vh;
	background-color:hsl(225, 100%, 98%) ;
}
h2{
	color: hsl(223, 47%, 23%);
}
.cancel{
	display:inline-block;
    margin-bottom: 3vh;
}
a{
	color:  hsl(245, 75%, 52%);
	font-weight: bolder;
	text-decoration: underline;
	margin-left:4.5vh;
}
.payment{
	padding:2vh;
	background-color: hsl(245, 75%, 52%);
	width: 70%;
	margin: 0 auto;
	margin-bottom:3vh;
	color:hsl(225, 100%, 98%) ;
	border-radius: 10px;
}
a:hover{
	color: hsl(224, 23%, 55%);
	text-decoration: none;
}
.payment:hover{
	background-color:hsl(224, 23%, 55%);
}
.cancel:hover{
	color: hsl(223, 47%, 23%);
}
a:hover,.payment:hover,.cancel:hover{
	cursor:pointer;
}
.plan{
  text-align: left;
  margin-left: 1.5vh;
}
.plan h2{
	margin-bottom:1vh;
}
@media only screen and (max-width: 376px){
  
  body{
	background-image: url("pattern-background-mobile.svg");
  }
  .container,.img1{
  		width:320px;
  }
  .info{
  	width: 90%;
  }
  p{
  	width:90%;
  }
}
